.chat-header {
    padding: 10px 20px;
    background-color: #58B82B;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
}

.chat-header span {
    font-weight: bold;
    font-size: 25px;
}

.refresh-button {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.refresh-button:hover {
    color: rgb(210, 210, 210);
}

.refresh-button.disabled {
    color: #9c9c9c; /* Use the same color */
    cursor: not-allowed; /* Change the cursor to let user know they need to wait */
}

.minimise-button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.minimise-button:hover {
    color: rgb(210, 210, 210);
}

/* ------------------------------------------------------------*/

.model-selection {
    padding: 1vh 7vw;
    display: flex;
    justify-content: center;
}

.model-selection select {
    padding: 1px 5px;
    border-radius: 10px;
    color: black;
}

.model-selection select:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.model-selection select.disabled {
    background-color: #c0c0c0; /* Use the same color */
    cursor: not-allowed; /* Change the cursor to let user know they need to wait */
}
